.sendmail{
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: #4d4c4c;
  width: 40%;
  height: 60%;
  min-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  flex-direction: column;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.sendMail__header {
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.sendMail__header> h3{
  color:whitesmoke;
  font-style: 13px;
}
.sendMail__send {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
  color:white !important;
}
.sendMail__close {
  cursor: pointer;
}
.sendmail>form {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sendmail >form>input{
  height: 30px;
  padding: 10px;
  bottom: none;
  border: 1px solid whitesmoke;
  outline:none;
}
.sendMail__message{
  flex:1;
}
.sendMail__error{
  background-color: white;
  color:rgb(243, 57, 57);
  text-align: center;
  padding: 2px;
}